name: Build and deploy main
on:
  push:
    branches:
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
      - uses: nais/docker-build-push@1fae4798c79f4af4c3cdbd3fe65e51f8f3ba2368
        id: docker-push
        with:
          team: appsec
          push_image: true
          pull: true
      - uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais.yaml
          IMAGE: ${{ steps.docker-push.outputs.image }}
